/* The following is an attempt to set a gif as the background. First attempts are not successful. Commenting out to keep available but not use */
/* body{
    background-image:url('https://media.giphy.com/media/9PTaAhwri56V2/giphy.gif');
    background-position:center;
    background-size:cover;
} */

/* Link to the color palette for this lab https://www.shutterstock.com/blog/10-gorgeous-color-schemes-for-websites?kw=&gclsrc=aw.ds&gclid=EAIaIQobChMI0baIo_2S5AIVh9lkCh3lCwGGEAAYAiAAEgL0V_D_BwE using #2 Scholar */

body{
    background-color:#F4F3EA; /* cream/beige-y */
    color:#333D51; /* dark blue ish */
}